---
layout: landing
---

<div class="tag-title">
  <h1>
    <img src="{{page.icon}}" alt="" height="42">
    {{page.fullName}}
  </h1>
</div>

{% assign subtags = site.data.tags | where_exp: 'tag', 'tag.parent == page.fullName' %}
{% assign subtagCount = subtags.length %}

{% if subtags[0] %}
<div class="tag-subtags">
  <span class="tag default active">All</span>
  {% for tag in subtags %}
    <a class="tag" href="/tags/{{tag.urlName}}">{{ tag.fullName }}</a>
  {% endfor %}
</div>
{% endif %}

<div>
  {% assign posts = site.data.content | where_exp: 'post', 'post.tags contains page.fullName' %}
  
  <div class="post-list">
    {%- for post in posts -%}
      {%- include post.html -%}
    {%- endfor -%}

    {%- if posts[0] -%}
    {% else %}
    <a class="suggest-content-big" href="mailto:wasm@example.com">Suggest content</a>
    {%- endif -%}
  </div>
</div>